<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <div class="form-group">
      <input
        (selected)="getSelectedData($event)"
        autocomplete="off"
        [(ngModel)]="search"
        [appAutoComplete]="titles"
        placeholder="Search by name"
        type="text"
        class="form-control"
        id="search"
      />
    </div>
  </div>
  <div class="col-sm-12 col-md-2 col-sm-2">
    <button class="btn btn-dark" (click)="reset()">
      Reset
      <span class="fa fa-refresh pl-2" aria-hidden="true"></span>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <app-common-data-table
        [columnDef]="columnDef"
        [data]="data"
        [height]="450"
      ></app-common-data-table>
    </div>
  </div>
</div>
