<nav class="navbar navbar-expand-lg navbar-light bg-dark">
	<a class="navbar-brand" href="/">
		<span class="fa fa-gamepad home-icon" aria-hidden="true"></span>
		<span class="pl-2">Sapient Games Arena</span>
	</a>
	<ul class="nav navbar-nav ml-auto">
		<li class="nav-item">
			<a href="https://github.com/Karthikeyan1993" target="self" class="nav-link">
				<span class="fa fa-github home-icon" aria-hidden="true"></span>
			</a>
		</li>
		<li class="nav-item">
			<a href="https://www.linkedin.com/in/karthikeyan-karuppusamy-a44234ab/" target="self" class="nav-link">
				<span class="fa fa-linkedin-square home-icon" aria-hidden="true"></span>
			</a>
		</li>
		<li class="nav-item">
			<a href="https://stackblitz.com/@Karthikeyan1993" target="self" class="nav-link">
				<span class="fa fa-bolt home-icon" aria-hidden="true"></span>
			</a>
		</li>
	</ul>
</nav>